.center-waiting-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 0px;
    flex-grow: 1;
    padding-bottom: 20px;
}

.center-waiting-logo {
    margin-bottom: 0px;
    padding-top: 0px;
}

.center-waiting-text h5 {
    font-size: 16px;
    font-weight: 500;
    color: #231F20;
    font-weight:1000;
    margin-bottom: 5px;
    margin-top: 15px;
}

.center-waiting-text h6 {
    font-size: 12px;
    font-weight: 400;
    color: #6D6D6D;
    margin: 0px
}

.highlight-text {
    color: #D5016C;
}