.sidebar-base {
    position: fixed;
    top: 3vh;
    right: 1.5vw;
    display: flex;
    flex-direction: column;
    padding: 16px;
    gap: 10px;
    border-radius: 16px;
    background: #FFF;
    width: 25vw;
    height: 95vh;
    box-shadow: -1px 4px 8px 0px rgba(0, 0, 0, 0.36);
    z-index: 9999;
    overflow-y: auto;
    transition: transform 0.3s ease-in-out;
  }
  
  .sidebar-base.minimized {
    transform: translateX(calc(100% + 20px));
  }