.quizzle-logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
}

.quizzle-text {
    font-size: 12px;
    font-weight: bold;
    color: #231F20;
    right: 5px;
}